<!DOCTYPE html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
</head>
<body>
<div th:fragment="userData">
    <table class="rvt-table-cells">
        <caption class="sr-only" th:text="|#{preview.studentText}: ${user}|">Preview of first student: student name</caption>
        <thead>
        <tr>
            <th scope="col" th:text="#{preview.nameHeader}">Item Name</th>
            <th scope="col" th:text="#{preview.scoreHeader}">Score/Feedback</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entry : ${sheetUserData}">
            <th scope="row" th:text="${entry[0]}">June 24, 2015 Attendance</th>
            <td th:text="${entry[1]}">2</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>