/* sets the size of rivet icons */
.rvt-icon {
    width: 1rem;
    height: 1rem;
}

.ellipses {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0; /* needed to work in table cells */
}

/* borrowing rvt-alert__dismiss to ignore its permanent dismissing js
   and allowing us to use a show/hide "hack". Possibly a better approach than this long term */
.dismiss-override {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-radius: 0.25rem;
    color: #333;
    line-height: 1;
    padding: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

.dismiss-override:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

.dismiss-override:focus {
    outline: none;
    box-shadow: 0 0 0 0.125rem #006298 !important;
}