<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>View'em Header</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link th:href="@{/app/css/common_legacy_normal_contrast.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/app/css/viewem.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="header-bar">
    <div class="header-bar-left" role="banner"><h1 th:text="#{viewem.toolTitle}">Tool Title</h1></div>
    <div class="header-bar-right" layout:fragment="header-right"></div>
</div>

<div layout:fragment="content" role="main">Page content goes here</div>

<footer>
    <div id="footer" th:text="${@serverInfo}"></div>
</footer>

<script type="text/javascript" th:src="@{/app/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/app/webjars/jquery-ui/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/app/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/app/js/viewem.js}"></script>
</body>
</html>