<!DOCTYPE html>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>View'em Header</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/app/jsrivet/rivet-bundle.min.css}" />
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/app/css/viewem.css}" />

</head>
<body>

<div class="rvt-container">
    <!-- alerts -->
    <div id="delete-success-alert" class="rvt-alert rvt-alert--success rvt-m-tb-md rvt-display-none" role="alertdialog" aria-labelledby="delete-success-title" tabindex="0">
        <h1 class="rvt-alert__title" id="delete-success-title">Sheet deleted!</h1>
        <p class="rvt-alert__message">Deletion of the worksheet was successful!</p>
        <button type="button" class="dismiss-override" id="delete-close">
            <span class="v-hide">Dismiss this alert</span>
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                <path fill="currentColor" d="M9.41,8l5.29-5.29a1,1,0,0,0-1.41-1.41L8,6.59,2.71,1.29A1,1,0,0,0,1.29,2.71L6.59,8,1.29,13.29a1,1,0,1,0,1.41,1.41L8,9.41l5.29,5.29a1,1,0,0,0,1.41-1.41Z"/>
            </svg>
        </button>
    </div>
    <div th:if="${titleError != null} OR ${fileError != null}" class="rvt-alert rvt-alert--danger rvt-m-top-sm" role="alert" aria-labelledby="error-alert-title">
        <h1 class="rvt-alert__title" id="error-alert-title">Errors</h1>
        <ul class="rvt-plain-list">
            <li class="rvt-alert__message">
                <a href="#sheetTitle" th:text="${titleError}">There was no title provided for the name of the sheet.</a>
            </li>
            <li class="rvt-alert__message">
                <a href="#file" th:text="${fileError}">There was no file provided.</a>
            </li>
        </ul>
    </div>

    <!-- banner -->
    <div class="rvt-grid rvt-vertical-center rvt-m-tb-sm">
        <div class="rvt-grid__item" role="heading" aria-level="1">
            <h1 class="rvt-ts-26" th:text="#{viewem.toolTitle}">Tool Title</h1>
        </div>
        <div class="rvt-grid__item rvt-text-right" role="region">
            <div layout:fragment="header-right"></div>
        </div>
    </div>
    <!-- main content -->
    <div class="rvt-box">
        <div class="rvt-box__body">
            <div layout:fragment="content" role="main">Page content goes here</div>
        </div>
    </div>
</div>

<footer th:unless="${hideFooter}" class="rvt-ts-12 rvt-container rvt-m-top-lg">
    <div id="footer" th:text="${@serverInfo}"></div>
</footer>

<script type="text/javascript" th:src="@{/app/jsrivet/rivet-bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/app/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/app/js/viewem.js}"></script>
</body>
</html>