<!DOCTYPE HTML>
<html lang="en-US"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>View'em - Error Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">

    <h1 class="rvt-ts-26">Error Processing Request</h1>
    <p th:text="${exception.message}">Exception here</p>
    <p th:utext="#{tokenException.instructions}">Instructions here</p>
    <div id="stackTraceContent">
        <dl>
            <dt th:text="#{tokenException.dateLabel}">Date</dt>
            <dd th:text="${timestamp}">1/11/1111</dd>
            <dt th:text="#{tokenException.errorLabel}">Error</dt>
            <dd th:utext="${stackTrace}">StackTrace here</dd>
        </dl>
    </div>
</div>

</body>
</html>


